## ===Общие правила===
# Игнорировать временные и системные файлы:
*.tmp
*.bak
*.swp

# Игнорировать все .log файлы
*.log
# за исключением файлов, находящихся в корневой папке apache.
!apache/*.log

# Игнорировать папку bin
/bin/

#Игнорировать файлы, начинающийся на tmp в dist и её подпапках
dist/**/tmp*

# ===Пример исключений===
# Не игнорировать README.md b .gitignore
!README.md
!.gitignore
